<h2>Create a new Celebrity</h2>

<form action="/celebrities/create" method="post">
    <label for="name">Name</label>
    <input id="name" name="name" type="text">

    <label for="occupation">Occupation</label>
    <input id="occupation" name="occupation" type="text">

    <label for="catchPhrase">Catch phrase</label>
    <input id="catchPhrase" name="catchPhrase" type="text">

    <button type="submit">Submit</button>
</form>